body{
    position:relative;
}
.popimagediv{
    position:absolute;
    top:100px;
    z-index:6;
    display:none;
    background:white;
}
.popimagediv img{
    display:block;
    height:auto;
    width:400px;
}
tbody tr div{
    cursor:pointer;
}