.container{
	position: relative;
}
.navigation
{
	font-size:16px;
    width: 80%;
	height: 25px;
	top:40px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	padding-right: -5%;
}
.navigation-box
{
	position: absolute;
	cursor: pointer;
	top:30px;
	width: 45px;
	height: 45px;
	overflow: hidden;
	z-index: 10;
}
.line{
	position: relative;
	display: block;
	margin-bottom: 5px;
	height: 4px;
	width: 30px;
	background-color: #e94e1b;
	border-radius: 5px;
}
.first-line,.third-line{
	margin-left: 12px;
}
.first-line{
	margin-top: 10px;
}
.second-line,.forth-line{
	margin-right: 12px;
}
.slide-left{
	position: absolute;
	width: 650px;
	height: 25px;
	right:-100%;
}
.navigation li{
	display: block;
	position: relative;
	float: left;
	margin-right: 28px;
}
.navigation li{
	line-height: 25px;
	color: black;
}
.navigation li a{
	line-height: 25px;
	color: #e94e1b;
}
.under-line{
	position: relative;
	display: block;
	margin-bottom: 3px;
	height: 2px;
	top: -2px;
	margin-left: 0%;
	width: 94%;
	background-color: #e94e1b;
	border-radius: 5px;
}
